# =====================
# Android / IntelliJ
# =====================
*.iml
.gradle/
build/
local.properties
.cxx/
.externalNativeBuild/
.DS_Store

.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# =====================
# Node.js
# =====================
node_modules/
backend/node_modules/

# =====================
# Blockchain / Ganache
# =====================
ganache-db/
backend/ganache-db/

# =====================
# Environment
# =====================
.env
backend/.env
